.size  {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(80px);
  display: flex; justify-content: center;
  z-index: 1000;
}
.sizeContent {
  display: flex; justify-content: center;
  flex-direction: column;
  
}

.iconsContainer {
  display: flex;
  flex-wrap: wrap;
}

.title h2 {
  font-size: 4rem;
  margin-bottom: 2rem;
}
.size h3 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.inputName {
  background-color: #1F2937;
  border-radius: 15px;
  border: 2px solid #313B4A;
  width: 100%;
  height: 70px;
  padding-left: 2rem;
  font-size: 1.5rem;
  caret-color: #69707E;
  outline: none;
  color: #a3a8b4;
  font-weight: 600;
  margin-bottom: 2rem;
}
.inputName::placeholder {
  color: #69707E;
}

.btnsContainer {
  display: flex;
  margin-top: 4rem;
  justify-content: right;
  gap: 2rem;
}
.btnBase {
  border: none;
  width: 168px;
  height: 52px;
  border-radius: 7px;
  font-size: 1.3rem;
  font-weight: 600;
  color: #fff;
  transition: background-color 0.3s ease-in-out;
}
.btnCancel {
  background-color: #374151;
}
.btnCancel:hover {
  background-color: #1F2937;
}
.btnAdd {
  background-color: #137FEC;
}
.btnAdd:hover {
  background-color: #102D4A;
}

.alertIcon {
  display: flex;
  color: #d3cece;
  font-weight: 600;
  background-color: rgb(196, 22, 22);
  width: 180px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin-top: 2rem;
}